@model IEnumerable<Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>


<p>
    <a class="btn btn-secondary" asp-action="Create">Create New</a>
</p>

<div class="container-fluid">

<div class="row d-flex justify-content-evenly align-items-center w-100 bg-secondary gap-2">
    @foreach (var item in Model)
    {
        <div class="col-md-4 card bg-info " style="width:31%; margin-top:18px">
            <div class="card-header">
                <h3>@item.Name </h3>
            </div>
            <div class="card-body">
                <img class="card-img-top" style="height: 150px " src="@item.MspUrl" asp-append-version="true" />
               
            </div>
            
            <div class="card-footer text-center d-flex justify-content-evenly align-items-center ">
                <a asp-controller="Country" asp-action="Show" asp-route-Id="@item.Id" class="btn btn-warning m-1">View</a>
                <a asp-controller="Country" asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-primary m-1">Edit</a>
                <a asp-action="Delete" asp-controller="Country" asp-route-Id="@item.Id" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>
    }
</div>
</div>
